.nadpis {
    text-align: center;
    
  }

.pod_nadpis{
    display: flex;
    justify-content: space-between;
    border-top:solid 1px;
    border-bottom:solid 1px;
    padding: 5px  ;

}

.levy_odstavec {
    display: inline-block;
    width: 200px;
    float: left;
    text-align: justify;
    margin-right:20px;
}

.prostredni_1sloupec { 
   text-align: justify;
  
  
   margin: 10px;
   column-count: 2;
   column-gap: 20px;
}
.prostredni_2sloupec{
     text-align: justify;
     display: inline-block;
   
}

.prosloup_nadpis{
    width: 410;
   
    
}

.hornistredni {
    width: 410px;
    float: left;
    text-align: justify;
}